@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animaciones de swipe */

@keyframes swipeLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@keyframes swipeRight {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-swipe-left {
  animation: swipeLeft 0.3s forwards;
}

.animate-swipe-right {
  animation: swipeRight 0.3s forwards;
}

.animate-fade-in-up {
  animation: fadeInUp 0.3s ease-out;
}
